*, *::after, *::before {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: rgb(30, 30, 30);
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-container {

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 400px;
    height: 600px;
    margin-top: 50px;
    padding: 25px;
    border-radius: 20px;

    background-color: rgb(120, 120, 120);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(60, 60, 60);
}

::-webkit-scrollbar {
    border-radius: 10px;
    background-color: rgb(30, 30, 30);
  }

.messages {
    overflow-y:scroll; 
    position:relative;

    height: calc(100% - 100px);
    overflow-y: scroll;
}

.message {
    word-wrap: break-word;
    word-break: break-all;

    width: fit-content;
    margin: 10px 0;
    border-radius: 10px;
    background-color: rgb(180, 180, 180);
    padding: 10px;
}

.image {
    padding: 10px;
    background-color: rgb(180, 180, 180);
    border-radius: 10px;

    max-width: 300px;
    max-height: 200px;
}

/* Removing default styling */

button, input {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.form {
    display: flex;
    justify-content: space-around;

    width: 100%;
}

.inputTag {
    cursor: pointer;
}

.inputTag > img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.inputTag > input {
    display: none;
}

.input {
    padding-left: 10px;

    width: 200px;
    height: 40px;
    border-radius: 10px;

    background-color: rgb(180, 180, 180);
}

.button {
    border: none;
    cursor: pointer;

    width: 75px;
    height: 40px;
    
    border-radius: 10px;
    
    color: white;
    background-color: rgb(30, 30, 30);
}